<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
  <div fxFlexAlign="center">
    <img src="../../assets/splash.png" />
  </div>
  <div fxLayout="column" fxLayoutGap=5%>
    <h2 i18n>Welcome to WOT Statatistics Pro</h2>
    <div i18n>
      You can see the statistics of any player using the search by nick (for
      example, "Swarov5ki"). Or you can search by cla tag (for example, "C4")
      <br />
      You can also log in with your Wargaming account. This will allow you to
      track your game statistics over time.
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around start">
      <button mat-raised-button (click)="loginWithWargamingId()" id="loginButton"><mat-icon>meeting_room</mat-icon> <ng-container i18n>Login with WargamingId</ng-container></button>
      <button mat-raised-button (click)="searchByAccount()" id="searchByAccountButton"><mat-icon>search</mat-icon> <ng-container i18n>Search by login</ng-container></button>
      <button mat-raised-button (click)="searchByClan()" id ="searchByClanButton"><mat-icon>youtube_searched_for</mat-icon> <ng-container i18n>Search by clan</ng-container></button>
    </div>
    <div fxFlex></div>
  </div>
</div>
